%h4 Project List
.col-md-12
  = link_to 'Create New Project', new_project_path, class: 'btn btn-primary'
%br
.col-md-12
  .well
    %table.table
      %thead
        %tr
          %th #
          %th Project Name
          %th Description
          %th Status
          %th Action
      %tbody
        - @projects.all.each do |project|
          %tr
            %td
              = project.project_name
            %td
              = project.description
            %td
              = project.status
